<div class="container">
  <h2 class="text-center my-3 ">Vos avis (<%= @reviews.count %>)</h2>
    <div class="row justify-content-around" >
     <% @reviews.each do |review| %>
        <div class="col-3 card-review m-3 ">
         <div class="d-flex justify-content-between">
            <h3><%= review.user.last_name.capitalize %> <%= review.user.first_name %></h3>
            <h3><%= review.date %></h3>
          </div>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>

  <div class="text-center my-5">
    <%= link_to "Laisser un avis", new_review_path(@review), class: "button2" %>
  </div>
</div>

<div class="footer"></div>
