<div class="container my-3"><h1>Votre avis</h1>

<%= simple_form_for @review do |f| %>
<%= f.input  :date,
             as: :hidden%>
 <%= f.input :content,
             label: "Laissez un commentaire ici : " %>
  <%= f.button :submit, "Valider", class: "button2" %>
<% end %>
  <div class="my-3">
    <%= link_to "Retour à la page d'accueil", root_path %>
  </div>
</div>
